---

import { Picture } from 'astro:assets';
import versa from '../images/versa.png';
import watchface from '../images/watchface.png';
import '@fontsource-variable/source-code-pro';
import '../style.css';
---

<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Terminal for Fitbit</title>
    <meta name="description" content="Terminal is a Fitbit clock face styled to match a terminal session in a Unix environment.">
    <meta name="keywords" content="Terminal, watchface, watch, clock face, Fitbit, Fitbit Sense, Fitbit Versa 3, Fitbit Versa 2, Fitbit Versa Lite, Fitbit Versa, Fitbit Ionic, Fitbit developers, JD Hartley, jdhartley, jdhrtl">
</head>
<body>
    <header>
        <h1>Terminal for Fitbit</h1>
        <p>
            Terminal is a Fitbit clock face styled to match a terminal session in a Unix environment
        </p>
    </header>

    <div class="fitbit-versa">
		<figure class="fitbit-versa__device">
			<Picture
				loading="eager"
				src={versa}
				alt="Photo of Fitbit Versa device"
				width={320}
				quality={80}
				formats={['avif', 'webp']}
				densities={[1.5, 2]}
			/>
		</figure>

		<figure class="fitbit-versa__watchface">
			<Picture
				src={watchface}
				alt="Screenshot of Fitbit clock face"
				width={208}
				formats={['avif', 'webp']}
				quality={100}
				densities={[1.5, 2]}
			/>
		</figure>
    </div>

    <footer>
        <a
            href="https://gam.fitbit.com/gallery/clock/df5cd9de-2135-4a94-a31a-7bd7d1e83c81"
            class="download-cta"
        >
            Get Terminal
        </a>

        <a
            href="https://github.com/jdhartley/terminal-for-fitbit"
            target="_blank"
            class="github-cta"
        >
            Open Source on GitHub
        </a>
    </footer>
</body>
</html>
